{% extends "_base.html" %}

{% block title_tab %}{{ user.id }} - Telegram{% endblock %}
{% block title_main %}Telegram · <code>{{ user.id }}</code>{% endblock %}

{% block content %}
    <div>
        <p>
            Il tuo account Telegram è collegato all'account Unimore:
        </p>
        <p class="center xl">
            {{ user.account.first_name }} {{ user.account.last_name }}<br/>
            <code>{{ user.account.email }}</code>
        </p>
    </div>
	<hr/>
	<div>
		<p>
			Puoi entrare nelle <b>chat <i>Uniberry Studenti</i></b> attraverso i seguenti link:
		</p>
		{% for key, value in config.TELEGRAM_PRIVATE_JOIN_LINKS.items() %}
			<p class="center xl">
				<a href="{{ value }}" class="btn">{{ key }}</a>
			</p>
		{% endfor %}
		<p>
			<b>Non condividere quei link con nessun altro</b>!
		</p>
	</div>
    <hr/>
	<div>
		<p>
			Puoi entrare nelle <b>chat pubbliche <i>Uniberry</i></b> attraverso il seguente link:
		</p>
		<p class="center xl">
			<a href="{{ config.TELEGRAM_PUBLIC_JOIN_LINK }}" class="btn">Chat pubbliche</a>
		</p>
	</div>
    <hr/>
    <div>
		<details>
			<summary>Hai bisogno di aiuto?</summary>
			<p>
				Richiedi assistenza nella chat Telegram dedicata:
			</p>
			<p class="center xl">
				<a href="https://t.me/{{ config.TELEGRAM_HELP_ROOM_USERNAME }}" class="btn">
					<code>{{ config.TELEGRAM_HELP_ROOM_USERNAME }}</code>
				</a>
			</p>
		</details>
        <details>
            <summary>Come sono gestiti i miei dati?</summary>
            <p>
                Leggi la politica per la privacy di Loki per scoprirlo:
            </p>
            <p class="center xl">
                <a href="{{ url_for("page_privacy") }}" class="btn">
                    Politica per la privacy
                </a>
            </p>
        </details>
		<details>
			<summary>Vuoi disconnettere gli account Telegram e Unimore su Loki?</summary>
			<p>
				Puoi eliminare tutti i tuoi dati da Loki <b>inviando il comando <code>/unlink</code> a <a href="https://t.me/{{ config.TELEGRAM_BOT_USERNAME }}"></a></b> da un client Telegram, oppure, se il tuo account Telegram non esiste più, contattando <a href="mailto:{{ config.LOKI_EMAIL }}">{{ config.LOKI_EMAIL }}</a>.
			</p>
		</details>
		<details>
			<summary>Vuoi eliminare i tuoi dati da Loki?</summary>
			<p>
				Puoi eliminare tutti i tuoi dati da Loki <b>inviando il comando <code>/destroy</code> a <a href="https://t.me/{{ config.TELEGRAM_BOT_USERNAME }}"></a></b> da un client Telegram, oppure, se il tuo account Telegram non esiste più, contattando <a href="mailto:{{ config.LOKI_EMAIL }}">{{ config.LOKI_EMAIL }}</a>.
			</p>
		</details>
    </div>
{% endblock %}
